<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Auth0 App</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/precios">Precios</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link" routerLinkActive="active" routerLink="/protegida">Protegida</a>
                </li>
            </ul>
            <span class="navbar-text">
                <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                    <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">Salir</button>
                </ng-container>
              
                <ng-template #loggedOut>
                    <button class="btn btn-outline-primary" (click)="auth.loginWithRedirect()">Ingresar</button>
                </ng-template>
            </span>
        </div>
    </div>
</nav>