<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched" required minlength="5" [ngModel]="usuario.nombre" name="nombre" type="text" placeholder="Nombre">
                <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Nombre obligatorio. Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" #apellidos="ngModel" [class.is-invalid]="apellidos.invalid && apellidos.touched" required minlength="5" [ngModel]="usuario.apellidos" name="apellidos" type="text" placeholder="Apellido">
                <small class="form-text text-danger" *ngIf="apellidos.invalid && apellidos.touched">Apellido obligatorio. Ingrese 5 letras</small>
            </div>
        </div>

    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input #correo="ngModel" [ngModel]="usuario.correo" [class.is-invalid]="correo.invalid && correo.touched" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" type="email" name="correo" placeholder="Correo electrónico">
            <small class="form-text text-danger" *ngIf="correo.invalid && correo.touched">Correo obligatorio. Ingrese un formato correcto de correo</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">País</label>
        <div class="col-8">

            <select #pais="ngModel" class="form-control" [class.is-invalid]="pais.invalid && pais.touched" name="pais" id="pais" required [ngModel]="usuario.pais" [disabled]="paises.length === 0">
                <option *ngFor="let pais of paises" [value]="pais.codigo">
                    {{ pais.nombre }}
                </option>
            </select>
            <small class="form-text text-danger" *ngIf="pais.invalid && pais.touched">Seleccione un país</small>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Género</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input #genero="ngModel" type="radio" [class.is-invalid]="genero.invalid && genero.touched" class="form-check-input" name="genero" value="M" required ngModel>
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input #genero="ngModel" type="radio" [class.is-invalid]="genero.invalid && genero.touched" class="form-check-input" name="genero" value="F" required ngModel>
                <label class="form-check-label">Femenino</label>
            </div>
            <small class="form-text text-danger" *ngIf="genero.invalid && genero.touched">Seleccione un género</small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>